@page
@inject LibraryManagement.Webapp.Services.AuthService AuthService
@model LibraryManagement.Webapp.Pages.Books.IndexModel
@{
}

<p>Authors request from database as of @DateTime.Now.ToString("G")</p>
<p>Total number of elements found: @Model.Authors.Count</p>


@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="border border-danger p-3 border-3">
        <p class="mb-0">@Model.Message</p>
    </div>
}

<table class="table table-sm">
    <thead>
        <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Geburtsdatum</th>
            <th>Nationalität</th>
            <th>Anzahl von Büchern</th>
            <th>Aktionen</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model.Authors)
        {
            <tr>
                <td>@author.Firstname</td>
                <td>@author.Lastname</td>
                <td>@author.BirthDate.ToString("d")</td>
                <td>@author.Nationality</td>
                <td>@author.BookCount</td>
                <td>
                    <a class="ms-2" asp-page="/Authors/Details" asp-route-guid="@author.Guid"><i class="fa-solid fa-circle-info"></i></a>
                    @if (AuthService.IsAuthenticated)
                    {
                        <a class="ms-2" asp-page="/Authors/Edit" asp-route-guid="@author.Guid"><i class="fa-regular fa-pen-to-square"></i></a>
                        <a class="ms-2" asp-page="/Authors/Delete" asp-route-guid="@author.Guid"><i class="fa-solid fa-trash"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>